.input-with-label, .select-with-label {
    margin: 10px 0 30px;
}

.input-with-label input, .select-with-label select {
    box-sizing: border-box;
    border: none;
    background: #EFF0F6;
    height: 44px;
    width: 266px;
    padding: 0px 20px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0 10px 0;
}

input::placeholder {
    color: #D6D7E3;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}


.validation-message {
    font-size: 12px;
    color: red;
    margin: 0;
}