.button {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
    opacity: .2;
    cursor: inherit;
}


.default {
    background: inherit;
}

.success {
    background: var(--color-success);    
}

.primary {
    background: var(--color-primary);
}

.muted {
    background: var(--color-muted);
}
